<a href="https://colab.research.google.com/github/lauraclarksan/lab-revisiting-machine-learning/blob/master/Lab%20from%20the%205th%20of%20March%202024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install pandas
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/Ironhack/unit 7 - Python/7.01/learningSet.csv')

df.head()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

<ipython-input-2-7cc9494df7fa>:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Ironhack/unit 7 - Python/7.01/learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

```
Check for null values in all the columns
```

In [3]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

```
Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many
categories
ZIP CODE - we are including state already
```

In [4]:
df1 = df.copy()

In [5]:
exclude_columns = ['OSOURCE', 'ZIP CODE']

drop_list = []

for col in exclude_columns:
  if col in df1.columns:
    drop_list.append(col)

df1 = df1.drop(columns=drop_list)

```
Identify columns that over 85% missing values and remove those columns from the dataframe
```

In [6]:
df2 = df1.copy()

In [7]:
percentage = 0.85

missing_percentage = (df2.isnull().sum() / len(df)) * 100

drop_columns = missing_percentage[missing_percentage > percentage].index.tolist()

df2 = df2.drop(columns=drop_columns)

```
Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [8]:
df3 = df2.copy()

In [11]:
df3['GENDER'].isnull().sum()

0

In [12]:
df3['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [13]:
df3['GENDER'] = df3['GENDER'].fillna('F')

In [14]:
change_values = {'M': 'M', 'F': 'F', 'other': 'other', 'U': 'other', 'J': 'other', 'C': 'other', 'A': 'other', ' ': 'F' }

# Here I'm guessing the blank space is the null values

In [15]:
df3['GENDER'] = df3['GENDER'].map(change_values)

In [16]:
df3['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64